/* PRODUCT DETAIL PAGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F4F5F7;
  overflow-x: hidden;
}

/* SECTION */
.product-detail-section {
  padding: 42px 48px 0;
}

.breadcrumb {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  color: #000;
  margin-bottom: 14px;
}

.breadcrumb a {
  color: #000;
  text-decoration: underline;
}

/* LAYOUT */
.product-detail-layout {
  display: grid;
  grid-template-columns: 104px 850px 300px;
  gap: 18px;
  align-items: start;
}

/* THUMBNAILS */
.thumbnail-column {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 104px;
  height: 174px;
  object-fit: cover;
  border: 2px solid transparent;
}

.active-thumb {
  border: 2px solid #000;
}

/* MAIN GALLERY */
.main-gallery {
  position: relative;
}

.big-image-row {
  display: flex;
}

.big-product-image {
  width: 416px;
  height: 696px;
  object-fit: cover;
}

.gallery-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 46px;
  height: 46px;

  border: none;
  border-radius: 50%;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 5;
}

.gallery-arrow img {
  width: 18px;
  height: 18px;
  filter: brightness(0) invert(1);
}

.left-arrow {
  left: 23px;
}

.right-arrow {
  right: 23px;
}

/* PRODUCT INFO */
.product-info {
  padding-top: 70px;
}

.product-info h1 {
  color: #003E93;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 5px;
}

.price {
  color: #002752;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
}

.size-label {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.size-options {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.size-options button {
  border-radius: 5px;
  border: 1.6px solid rgba(0, 0, 0, 0.7);
  background: transparent;
  color: #000;

  font-family: Poppins, sans-serif;
  font-size: 21px;

  padding: 4px 15px;
  cursor: pointer;

  transition: all 0.2s ease;
}

.size-options button:hover {
  background: #000;
  color: #fff;
}

.size-options button.active-size {
  background: #000;
  color: #fff;
}

/* BUTTONS */
.add-cart-btn,
.checkout-btn {
  width: 320px;
  height: 45px;

  border: none;
  border-radius: 10px;

  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);

  color: #F4F5F7;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-decoration: none;
}

.add-cart-btn {
  background: #BFE804;
  margin-top: 25px;
  margin-bottom: 32px;
}

.checkout-btn {
  background: #003E93;
  border-radius: 10px;
  height: 45px;
  margin-top: 0;
}

/* HOVER EFFECT */
.add-cart-btn:hover,
.checkout-btn:hover {
  transform: translateY(-2px);

  box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.28);

  filter: brightness(1.03);
}

/* CLICK EFFECT */
.add-cart-btn:active,
.checkout-btn:active {
  transform: translateY(0);

  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}


/* ACCORDION */
.product-accordion {
  margin-top: 28px;
  width: 340px;
}

.accordion-item {
  border-bottom: 2.8px solid rgba(0, 0, 0, 0.3);
}

.accordion-header {
  width: 100%;
  padding: 10px 0;

  background: transparent;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;

  cursor: pointer;
}

.accordion-header span {
  color: rgba(0, 39, 82, 0.6);
  font-size: 33px;
}

.accordion-content {
  display: none;
  padding-bottom: 12px;
}

.accordion-content.active {
  display: block;
}

.accordion-content p {
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 15px;
}

/* RELATED PRODUCTS */
.related-products-section {
  margin-top: 10px;
  padding: 0 60px 90px;
}

.related-header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 25px;
}

.related-header h2 {
  color: #003E93;
  font-family: Poppins, sans-serif;
  font-size: 35px;
  font-weight: 700;
  white-space: nowrap;
}

.line {
  flex: 1;
  height: 2px;
  background: rgba(0, 0, 0, 0.25);
}

.related-products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.related-card {
  overflow: hidden;
  cursor: pointer;
}

.related-card img {
  width: 100%;
  height: 440px;
  object-fit: cover;
  display: block;
}

.related-card:hover img {
  transform: scale(1.03);
}

/* CART OVERLAY */
.cart-overlay {
  display: none;
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.cart-overlay.active {
  display: block;
}

/* CART POPUP */
.cart-popup {
  position: fixed;
  top: 0;
  right: -430px;

  width: 430px;
  height: 100vh;

  background: #F4F5F7;
  z-index: 1000;

  padding: 35px;
  box-shadow: -8px 0 20px rgba(0, 0, 0, 0.25);

  transition: right 0.3s ease;
  font-family: Poppins, sans-serif;
}

.cart-popup.active {
  right: 0;
}

.close-cart {
  position: absolute;
  top: 20px;
  right: 25px;

  border: none;
  background: none;

  font-size: 35px;
  cursor: pointer;
}

.cart-popup h2 {
  color: #003E93;
  font-size: 32px;
  margin-bottom: 35px;
}

.cart-item {
  display: flex;
  gap: 18px;
  margin-top: 35px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.cart-item img {
  width: 110px;
  height: 130px;
  object-fit: cover;
  border-radius: 18px;
}

.cart-item-info h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.cart-item-info p {
  font-size: 16px;
  margin: 4px 0;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 35px;
  margin-bottom: 30px;

  font-size: 20px;
  font-weight: 600;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.cart-checkout-btn {
  width: 100%;
  height: 55px;

  border-radius: 14px;

  background: #003E93;

  color: #F4F5F7;
  text-decoration: none;

  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 8px 8px rgba(0,0,0,0.25);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    filter 0.2s ease;
}

/* HOVER */
.cart-checkout-btn:hover {
  transform: translateY(-2px);

  box-shadow: 0 10px 12px rgba(0,0,0,0.28);

  filter: brightness(1.03);
}

/* CLICK */
.cart-checkout-btn:active {
  transform: translateY(0);

  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.view-cart-btn:hover,
.cart-checkout-btn:hover {
  transform: translateY(-2px);
}

.thumbnail {
  border: 3px solid transparent;
  cursor: pointer;
}

.thumbnail.active-thumb {
  border: 3px solid black;
}

.big-image-row {
  transition: none;
}

.big-image-row {
  opacity: 1;
  transition: opacity 0.35s ease;
}

.big-image-row.fade-out {
  opacity: 0.85;
}
@keyframes softSlideLeft {
  from {
    transform: translateX(35px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes softSlideRight {
  from {
    transform: translateX(-35px);
  }
  to {
    transform: translateX(0);
  }
}