* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F3F5F7;
}

/* ===================== */
/* HERO SECTION */
/* ===================== */

.hero-section {
  position: relative;

  width: 1440px;
  height: 900px;

  margin: 0 auto;

  overflow: hidden;

  background: #000;
}

/* HERO IMAGE */
.hero-image {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

/* OVERLAY CONTENT */
.hero-overlay {
  position: absolute;

  left: 58px;
  top: 230px;

  width: 1300px;

  z-index: 5;
}

/* TRAIN IN STYLE */
.hero-title {
  margin: 0;

  color: #F4F5F7;

  font-family: 'Chillax', sans-serif;
  font-size: 146.552px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9;

  text-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

/* WITH ICON SPORTS */
.hero-subtitle {
  margin-top: 18px;
  margin-bottom: 55px;

  color: #F4F5F7;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  font-family: 'Chillax', sans-serif;
  font-size: 44.958px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration-line: underline;
}

/* BUTTON WRAPPER */
.hero-buttons {
  display: flex;
  justify-content: center;

  gap: 70px;

  width: 100%;

  margin-top: 55px;
}

/* BUTTON */
.hero-btn {
  width: 430px;
  height: 84px;

  border-radius: 42px;
  border: 1px solid #000;

  background: #003E93;
  box-shadow: 2.364px 3.152px 4.729px 0 #000;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #F4F5F7;

  font-family: 'Chillax', sans-serif;
  font-size: 31.524px;
  font-weight: 700;

  text-decoration: none;

  position: relative;
  overflow: hidden;
  z-index: 1;

  transition: transform 0.25s ease, color 0.25s ease;
}

.hero-btn::before {
  content: "";

  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background: #BFE804;

  transition: left 0.35s ease;

  z-index: -1;
}

.hero-btn:hover::before {
  left: 0;
}

.hero-btn:hover {
  color: #003E93;
  transform: translateY(-3px);
}

/* ========================= */
/* GREEN MOVING STRIP */
/* ========================= */

.hero-strip {
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 68px;

  background: #BFE804;

  overflow: hidden;

  display: flex;
  align-items: center;

  z-index: 20;
}

/* MOVING TRACK */
.hero-strip-track {
  display: flex;
  align-items: center;

  width: max-content;

  animation: scroll-strip 18s linear infinite;
}

/* TEXT */
.hero-strip-track p {
  margin: 0;

  padding-top: 4px;
  padding-right: 45px;

  color: #F4F5F7;

  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 1;

  white-space: nowrap;
}

/* ANIMATION */
@keyframes scroll-strip {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* ===================== */
/* STATS SECTION */
/* ===================== */

.stats-section {
  width: 1440px;
  margin: 0 auto;

  padding: 70px 0 0;

  background: #F4F5F7;
}

.stats-box {
  width: 1220px;
  height: 551px;

  margin: 0 auto;

  background: #003E93;

  border-radius: 60px;

  padding: 38px 65px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 22px;

  filter: drop-shadow(0 13.625px 13.625px rgba(0, 0, 0, 0.25));
}

/* ROWS */
.stats-top-row,
.stats-bottom-row {
  display: flex;
  gap: 28px;
  align-items: center;
}

/* SHARED WIDTH SYSTEM */
.card-small {
  width: 274.827px;
}

.card-medium {
  width: 426.978px;
}

.card-large {
  width: 359.327px;
}

/* IMAGE CARDS */
.stats-img {
  height: 221.503px;

  object-fit: cover;
  object-position: center;

  border-radius: 44.663px;
  border: 1.918px solid rgba(244, 245, 247, 0.10);

  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.42);
  display: block;
}


.stats-img {
  border-radius: 44.663px;
}

/* TOP RIGHT TWO SMALL IMAGES */
.small-image-group {
  display: flex;
  gap: 28px;
}

.small-image-group img {
  width: calc((100% - 28px) / 2);
}

/* GREEN CARDS */
.stats-card {
  height: 221.503px;

  border-radius: 44.663px;
  border: 1.918px solid rgba(244, 245, 247, 0.10);

  background: #BFE804;

  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.42);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats-card h2 {
  margin: 0;

  color: #F4F5F7;

  font-family: Poppins;
  font-size: 89.023px;
  font-style: italic;
  font-weight: 700;
  line-height: 0.95;

  text-decoration-line: underline;
}

.stats-card p {
  margin: 12px 0 0;

  color: #F4F5F7;

  font-family: Poppins;
  font-size: 23.299px;
  font-weight: 400;
}
/* SPORTS SECTION */
body {
  overflow-x: hidden;
}

.available-sports-section {
  width: 1220px;
  margin: 0 auto;
  padding: 20px 0 70px;
  overflow: visible;
  margin-bottom: 60px;
}

.sports-slider-window {
  width: 100vw;
  margin-left: calc((1220px - 100vw) / 2);
  overflow: hidden;
}

.sports-slider-track {
  display: flex;
  gap: 60px;
  transition: transform 0.45s ease;
}

.available-sports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.available-sports-header h2 {
  color: #002752;
  font-family: Poppins;
  font-size: 62px;
  font-weight: 700;
  margin: 0;
}

.sports-arrows {
  display: flex;
  gap: 16px;
}

.sports-arrow {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.25);
}

.sports-arrow img {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
}

.sport-card-img {
  width: 340px;
  flex: 0 0 340px;
  display: block;
}

/* CATALOGUE SECTION */
.catalogue-section {
  margin-top: -80px;
  padding: 0px 70px 140px;
}

.catalogue-title {
  font-family: 'Poppins', sans-serif;

  font-size: 66px;
  font-weight: 700;

  color: #002752;

  margin-bottom: 20px;
}

.catalogue-cards {
  display: flex;
  gap: 50px;
}

.catalogue-card img {
  width:400px;
  height: 267px;

  object-fit: cover;

  border-radius: 40px;
}

.catalogue-card {
  display: block;
  transition: transform 0.25s ease;
}

.catalogue-card:hover {
  transform: translateY(-6px);
}

/* FOOTER SECTION*/
.footer {
  position: relative;

  width: 100%;
  min-height: 574px;

  background: #003E93;

  border-radius: 70px 70px 0 0;

  padding: 90px 80px;

  color: #F4F5F7;

  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25);
}

/* STORE INFO */
.store-info h3 {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 5px;
}

.store-info p {
  font-size: 23px;
  line-height: 1.45;
}

/* GREEN NEWSLETTER BOX */
.newsletter {
  position: absolute;
  top: 70px;
  right: 80px;

  width: 683px;
  height: 196px;

  background: #BFE804;
  border-radius: 45px;

  padding: 30px 48px;

  box-shadow: 0 9px 9px rgba(0, 0, 0, 0.25);
}

.newsletter h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 41px;
  font-weight: 400;
  color: #F4F5F7;

  white-space: nowrap;
  margin-bottom: 10px;
}

/* FORM */
.newsletter-form {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* EMAIL INPUT */
.newsletter-form input {
  width: 327px;
  height: 63px;

  border-radius: 42px;
  border: 2px solid rgba(219, 214, 214, 0.24);
  background: rgba(244, 245, 247, 0.8);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

  padding: 0 26px;

  font-size: 22px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

.newsletter-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

/* SUBSCRIBE BUTTON */
.newsletter-form button {
  width: 141px;
  height: 63px;

  border-radius: 42px;
  border: 2px solid rgba(219, 214, 214, 0.24);
  background: #F4F5F7;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);

  cursor: pointer;
}

/* ICON LOGO */
.footer-logo {
  position: absolute;

  right: 50px;
  bottom: 140px;

  width: 500px;
}