* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F3F5F7;
}

/* ===================== */
/* HERO SECTION */
/* ===================== */

.hero-section {
  position: relative;

  width: 1440px;
  height: 900px;

  margin: 0 auto;

  overflow: hidden;

  background: #000;
}

/* HERO IMAGE */
.hero-image {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;
}

/* OVERLAY CONTENT */
.hero-overlay {
  position: absolute;

  left: 58px;
  top: 230px;

  width: 1300px;

  z-index: 5;
}

/* TRAIN IN STYLE */
.hero-title {
  margin: 0;

  color: #F4F5F7;

  font-family: 'Chillax', sans-serif;
  font-size: 146.552px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9;

  text-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

/* WITH ICON SPORTS */
.hero-subtitle {
  margin-top: 18px;
  margin-bottom: 55px;

  color: #F4F5F7;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  font-family: 'Chillax', sans-serif;
  font-size: 44.958px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration-line: underline;
}

/* BUTTON WRAPPER */
.hero-buttons {
  display: flex;
  justify-content: center;

  gap: 60px;

  width: 100%;

  margin-top: 55px;
}

/* BUTTON */
.hero-btn {
  width: 360px;
  height: 78px;

  border-radius: 38.575px;
  border: 1px solid #000;

  background: #003E93;

  box-shadow: 2.364px 3.152px 4.729px 0 #000;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #F4F5F7;

  font-family: 'Chillax', sans-serif;
  font-size: 31.524px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-decoration: none;

  transition: all 0.25s ease;
}

.hero-btn:hover {
  transform: translateY(-3px);
}

/* GREEN STRIP */
.hero-strip {
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 48px;

  background: #C6E600;

  overflow: hidden;

  display: flex;
  align-items: center;
}

/* MOVING TEXT */
.strip-track {
  white-space: nowrap;

  color: #F4F5F7;

  font-family: Poppins;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;

  animation: marquee 18s linear infinite;
}

/* ANIMATION */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* SPORTS SECTION */
.sports-section {
  padding: 130px 70px 140px;
}

.sports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.sports-title {
  font-family: 'Poppins', sans-serif;
  font-size: 66px;
  font-weight: 700;
  color: #002752;
}

.sports-arrows {
  display: flex;
  gap: 14px;
}

.arrow-btn {
  width: 49px;
  height: 49px;

  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.9);
  color: #F4F5F7;

  font-size: 34px;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.arrow-btn svg {
  width: 30px;
  height: 30px;
}

.sports-cards {
  display: flex;
  gap: 40px;
}

.sport-card img {
  width: 400px;
  height: 430px;

  object-fit: cover;

  border-radius: 40px;
}

/* CATALOGUE SECTION */
.catalogue-section {
  margin-top: -80px;
  padding: 0px 70px 140px;
}

.catalogue-title {
  font-family: 'Poppins', sans-serif;

  font-size: 66px;
  font-weight: 700;

  color: #002752;

  margin-bottom: 20px;
}

.catalogue-cards {
  display: flex;
  gap: 50px;
}

.catalogue-card img {
  width:400px;
  height: 267px;

  object-fit: cover;

  border-radius: 40px;
}

/* FOOTER SECTION*/
.footer {
  position: relative;

  width: 100%;
  min-height: 574px;

  background: #003E93;

  border-radius: 70px 70px 0 0;

  padding: 90px 80px;

  color: #F4F5F7;

  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25);
}

/* STORE INFO */
.store-info h3 {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 5px;
}

.store-info p {
  font-size: 23px;
  line-height: 1.45;
}

/* GREEN NEWSLETTER BOX */
.newsletter {
  position: absolute;
  top: 70px;
  right: 80px;

  width: 683px;
  height: 196px;

  background: #BFE804;
  border-radius: 45px;

  padding: 30px 48px;

  box-shadow: 0 9px 9px rgba(0, 0, 0, 0.25);
}

.newsletter h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 41px;
  font-weight: 400;
  color: #F4F5F7;

  white-space: nowrap;
  margin-bottom: 10px;
}

/* FORM */
.newsletter-form {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* EMAIL INPUT */
.newsletter-form input {
  width: 327px;
  height: 63px;

  border-radius: 42px;
  border: 2px solid rgba(219, 214, 214, 0.24);
  background: rgba(244, 245, 247, 0.8);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

  padding: 0 26px;

  font-size: 22px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

.newsletter-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

/* SUBSCRIBE BUTTON */
.newsletter-form button {
  width: 141px;
  height: 63px;

  border-radius: 42px;
  border: 2px solid rgba(219, 214, 214, 0.24);
  background: #F4F5F7;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);

  cursor: pointer;
}

/* ICON LOGO */
.footer-logo {
  position: absolute;

  right: 50px;
  bottom: 140px;

  width: 500px;
}

/* ===================== */
/* PRODUCT LIST PAGE */
/* ===================== */


.product-list-page {
  background-color: #F3F5F7;
}

.product-navbar {
  position: relative;
  top: 20px;
  margin: 0 auto;
  left: auto;
  transform: none;
}

.product-main {
  padding: 45px 50px 0px;
  background: #F4F5F7;
}

.breadcrumb {
  font-family: Poppins;
  font-size: 17px;
  color: #000;
  text-decoration: underline;
  margin: 0;
  line-height: 1;
}

.all-products-title {
  color: #121A3D;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.category-bar {
  width: 100%;
  height: 74px;
  background: #003E93;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.category-bar button {
  border: none;
  border-radius: 18px;
  background: #BFE804;

  padding: 5px 24px;

  color: #003E93;
  font-family: Poppins;
  font-size: 25.919px;
  font-weight: 700;

  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.products-section {
  background: #F4F5F7;
  padding-bottom: 70px;
}

.products-topbar {
  height: 74px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 45px;
}

.items-count {
  font-family: Poppins;
  font-size: 24px;
  margin: 0;
}

.sort-by {
  width: 150px;
  height: 45px;

  border: 1px solid #000;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-family: Poppins;
  font-size: 20px;
  color: #000;
}

.sort-arrow {
  width: 22px;
  height: 22px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 338px);
  justify-content: center;

  column-gap: 18px;
  row-gap: 34px;
}

.product-card {
  text-decoration: none;
  color: #000;
}

.product-card img {
  width: 338px;
  height: 560px;
  object-fit: cover;
  display: block;
}

.product-card h3 {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 400;
  margin: 12px 0 0;
}

.product-card span {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}

/* PAGINATION BUTTONS */

/* PAGINATION */

.product-pagination {
  display: flex;
  justify-content: flex-end;

  margin-top: 60px;
  margin-bottom: 80px;

  padding-right: 50px;
}

.page-btn {
  width: 100px;
  height: 52px;

  border: none;

  background: #BFE804;

  color: rgba(255, 255, 255, 0.85);

  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;

  cursor: pointer;
}

/* LEFT BUTTON */
.page-btn.prev {
  border-radius: 10px 0 0 10px;

  border-right: 2px solid rgba(255,255,255,0.25);
}

/* RIGHT BUTTON */
.page-btn.next {
  border-radius: 0 10px 10px 0;
}