* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F3F5F7;
}

/* HERO */
.hero {
  position: relative;
  height: 800px;

  background-image: url("assets/sky.png");
  background-size: cover;
  background-position: center;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1340px;
  height: 59px;

  padding: 0 36px;

  background: rgba(217, 217, 217, 0.45);

  border: 1.429px solid rgba(244, 245, 247, 0.75);

  box-shadow:
    inset 0 1.5px 2px rgba(255, 255, 255, 0.7),
    inset 0 -1.5px 2px rgba(244, 245, 247, 0.25),
    0 2px 6px rgba(0, 0, 0, 0.15);

  border-radius: 142.857px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  z-index: 10;
}

/* NAV GROUPS */
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* LOGO */
.nav-logo {
  width: 95px;
  height: auto;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

/* NAV ITEMS */
.nav-pill {
  font-size: 16px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

/* GIRL */
.girl-hero {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 620px;
  z-index: 2;
}

/* TEXT */
.hero-text {
  position: absolute;
  transform: translateX(-50%);

  font-family: 'Chillax', sans-serif;
  font-weight: 700;
  font-size: 120px;

  color: rgba(0, 62, 147, 0.19);
  -webkit-text-stroke: 2px #F4F5F7;

  white-space: nowrap;
}

/* TEXT POSITIONS */
.hero-train {
  top: 42%;
  left: 20%;
  z-index: 1;
}

.hero-in {
  top: 42%;
  left: 50%;
  z-index: 4;
}

.hero-style {
  top: 42%;
  left: 80%;
  z-index: 1;
}

/* BLUE BOX */
.blue-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: 72%;

  width: 1440px;
  height: 690px;

  background: #003E93;

  border-radius: 48px;

  box-shadow: 0 3.162px 6.324px rgba(0, 0, 0, 1);

  z-index: 3;
}

/* CTA BUTTONS */
.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 70px;

  position: absolute;
  top: 90px;
  left: 50%;

  transform: translateX(-50%);

  z-index: 4;
}

/* SHARED BUTTON STYLE */
.btn-outline,
.btn-solid {
  width: 567px;
  height: 83px;

  border-radius: 48.947px;

  font-family: 'Chillax', sans-serif;
  font-size: 40px;
  font-weight: 700;

  color: #F4F5F7;

  white-space: nowrap;
  text-align: center;

  cursor: pointer;

  box-shadow: 3px 4px 6px rgba(0, 0, 0, 1);
}

/* LEFT BUTTON */
.btn-outline {
  border: 1.632px solid #F4F5F7;

  background: transparent;
}

/* RIGHT BUTTON */
.btn-solid {
  border: none;

  background: #BFE804;
}

/* GREEN STRIP */
.green-strip {
  position: absolute;
  top: 235px;  

  width: 100%;
  height: 50px;

  background-color: #C6E600;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.green-strip p {
  font-size: 30px;
  font-style: italic;
  color: white;

  white-space: nowrap;

  animation: scrollText 12s linear infinite;
}

@keyframes scrollText {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* NUMBER SECTION */

.number-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 330px;

  padding: 0 70px;
}

.number-box {
  width: 440px;
  height: 175px;

  padding: 24px 36px;

  border-radius: 74px;

  border: 2.4px solid rgba(244, 245, 247, 0.1);

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8px);

  box-shadow: 5px 10px 10px rgba(0, 0, 0, 1);

  color: #F4F5F7;

}

.center-card {
  width: 350px;
  height: 175px;

  margin-top: 140px;
}

.number-box h2 {
  font-family: 'Poppins', sans-serif;

  font-size: 80px;
  font-style: italic;
  font-weight: 700;

  line-height: 1;

  color: #F4F5F7;

  text-align: center;
  width: 100%;
}

.center-card h2 {
  font-size: 80px;
}

.number-line {
  width: 90%;
  height: 4px;

  background-color: #F4F5F7;

  margin: 2px auto 6px;
}

.number-box p {
  font-family: 'Poppins', sans-serif;

  font-size: 25px;
  font-weight: 400;

  color: #F4F5F7;
  padding-left: 20px;

}

.center-card p {
  font-size: 24px;
  text-align: left;
  padding-left: 18px;
}

/* SPORTS SECTION */
.sports-section {
  padding: 130px 70px 140px;
}

.sports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.sports-title {
  font-family: 'Poppins', sans-serif;
  font-size: 66px;
  font-weight: 700;
  color: #002752;
}

.sports-arrows {
  display: flex;
  gap: 14px;
}

.arrow-btn {
  width: 49px;
  height: 49px;

  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.9);
  color: #F4F5F7;

  font-size: 34px;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.arrow-btn svg {
  width: 30px;
  height: 30px;
}

.sports-cards {
  display: flex;
  gap: 40px;
}

.sport-card img {
  width: 400px;
  height: 430px;

  object-fit: cover;

  border-radius: 40px;
}

/* CATALOGUE SECTION */
.catalogue-section {
  margin-top: -80px;
  padding: 0px 70px 140px;
}

.catalogue-title {
  font-family: 'Poppins', sans-serif;

  font-size: 66px;
  font-weight: 700;

  color: #002752;

  margin-bottom: 20px;
}

.catalogue-cards {
  display: flex;
  gap: 50px;
}

.catalogue-card img {
  width:400px;
  height: 267px;

  object-fit: cover;

  border-radius: 40px;
}

/* FOOTER SECTION*/
.footer {
  position: relative;

  width: 100%;
  min-height: 574px;

  background: #003E93;

  border-radius: 70px 70px 0 0;

  padding: 90px 80px;

  color: #F4F5F7;

  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25);
}

/* STORE INFO */
.store-info h3 {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 5px;
}

.store-info p {
  font-size: 23px;
  line-height: 1.45;
}

/* GREEN NEWSLETTER BOX */
.newsletter {
  position: absolute;
  top: 70px;
  right: 80px;

  width: 683px;
  height: 196px;

  background: #BFE804;
  border-radius: 45px;

  padding: 30px 48px;

  box-shadow: 0 9px 9px rgba(0, 0, 0, 0.25);
}

.newsletter h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 41px;
  font-weight: 400;
  color: #F4F5F7;

  white-space: nowrap;
  margin-bottom: 10px;
}

/* FORM */
.newsletter-form {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* EMAIL INPUT */
.newsletter-form input {
  width: 327px;
  height: 63px;

  border-radius: 42px;
  border: 2px solid rgba(219, 214, 214, 0.24);
  background: rgba(244, 245, 247, 0.8);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

  padding: 0 26px;

  font-size: 22px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

.newsletter-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

/* SUBSCRIBE BUTTON */
.newsletter-form button {
  width: 141px;
  height: 63px;

  border-radius: 42px;
  border: 2px solid rgba(219, 214, 214, 0.24);
  background: #F4F5F7;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);

  cursor: pointer;
}

/* ICON LOGO */
.footer-logo {
  position: absolute;

  right: 50px;
  bottom: 140px;

  width: 500px;
}

/* NOTES: */
/* The buttons on blue box is popppins bold italic blm diganti  */
/* maybe ganti hero picture jadi 3 division or something more rame  */
/* buttons for prev next tweak lg */