* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F3F5F7;
}

/* HERO */
.hero {
  position: relative;
  height: 800px;

  background-image: url("assets/sky.png");
  background-size: cover;
  background-position: center;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1340px;
  height: 59px;

  padding: 0 36px;

  background: rgba(217, 217, 217, 0.45);

  border: 1.429px solid rgba(244, 245, 247, 0.75);

  box-shadow:
    inset 0 1.5px 2px rgba(255, 255, 255, 0.7),
    inset 0 -1.5px 2px rgba(244, 245, 247, 0.25),
    0 2px 6px rgba(0, 0, 0, 0.15);

  border-radius: 142.857px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  z-index: 10;
}

/* NAV GROUPS */
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* LOGO */
.nav-logo {
  width: 95px;
  height: auto;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

/* NAV ITEMS */
.nav-pill {
  font-size: 16px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

/* GIRL */
.girl-hero {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 620px;
  z-index: 2;
}

/* TEXT */
.hero-text {
  position: absolute;
  transform: translateX(-50%);

  font-family: 'Chillax', sans-serif;
  font-weight: 700;
  font-size: 120px;

  color: rgba(0, 62, 147, 0.19);
  -webkit-text-stroke: 2px #F4F5F7;

  white-space: nowrap;
}

/* TEXT POSITIONS */
.hero-train {
  top: 42%;
  left: 20%;
  z-index: 1;
}

.hero-in {
  top: 42%;
  left: 50%;
  z-index: 4;
}

.hero-style {
  top: 42%;
  left: 80%;
  z-index: 1;
}

/* BLUE BOX */
.blue-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  top: 72%;

  width: 1440px;
  height: 690px;

  background: #003E93;

  border-radius: 48px;

  box-shadow: 0 3.162px 6.324px rgba(0, 0, 0, 1);

  z-index: 3;
}

/* CTA BUTTONS */
.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 70px;

  position: absolute;
  top: 90px;
  left: 50%;

  transform: translateX(-50%);

  z-index: 4;
}

/* SHARED BUTTON STYLE */
.btn-outline,
.btn-solid {
  width: 567px;
  height: 83px;

  border-radius: 48.947px;

  font-family: 'Chillax', sans-serif;
  font-size: 40px;
  font-weight: 700;

  color: #F4F5F7;

  white-space: nowrap;
  text-align: center;

  cursor: pointer;

  box-shadow: 3px 4px 6px rgba(0, 0, 0, 1);
}

/* LEFT BUTTON */
.btn-outline {
  border: 1.632px solid #F4F5F7;

  background: transparent;
}

/* RIGHT BUTTON */
.btn-solid {
  border: none;

  background: #BFE804;
}

/* GREEN STRIP */
.green-strip {
  position: absolute;
  top: 235px;  

  width: 100%;
  height: 50px;

  background-color: #C6E600;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.green-strip p {
  font-size: 30px;
  font-style: italic;
  color: white;

  white-space: nowrap;

  animation: scrollText 12s linear infinite;
}

@keyframes scrollText {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* NUMBER SECTION */

.number-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 330px;

  padding: 0 70px;
}

.number-box {
  width: 440px;
  height: 175px;

  padding: 24px 36px;

  border-radius: 74px;

  border: 2.4px solid rgba(244, 245, 247, 0.1);

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8px);

  box-shadow: 5px 10px 10px rgba(0, 0, 0, 1);

  color: #F4F5F7;

}

.center-card {
  width: 350px;
  height: 175px;

  margin-top: 140px;
}

.number-box h2 {
  font-family: 'Poppins', sans-serif;

  font-size: 80px;
  font-style: italic;
  font-weight: 700;

  line-height: 1;

  color: #F4F5F7;

  text-align: center;
  width: 100%;
}

.center-card h2 {
  font-size: 80px;
}

.number-line {
  width: 90%;
  height: 4px;

  background-color: #F4F5F7;

  margin: 2px auto 6px;
}

.number-box p {
  font-family: 'Poppins', sans-serif;

  font-size: 25px;
  font-weight: 400;

  color: #F4F5F7;
  padding-left: 20px;

}

.center-card p {
  font-size: 24px;
  text-align: left;
  padding-left: 18px;
}

/* SPORTS SECTION */
.sports-section {
  padding: 130px 70px 140px;
}

.sports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.sports-title {
  font-family: 'Poppins', sans-serif;
  font-size: 66px;
  font-weight: 700;
  color: #002752;
}

.sports-arrows {
  display: flex;
  gap: 14px;
}

.arrow-btn {
  width: 49px;
  height: 49px;

  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.9);
  color: #F4F5F7;

  font-size: 34px;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.arrow-btn svg {
  width: 30px;
  height: 30px;
}

.sports-cards {
  display: flex;
  gap: 40px;
}

.sport-card img {
  width: 400px;
  height: 430px;

  object-fit: cover;

  border-radius: 40px;
}

/* CATALOGUE SECTION */
.catalogue-section {
  margin-top: -80px;
  padding: 0px 70px 140px;
}

.catalogue-title {
  font-family: 'Poppins', sans-serif;

  font-size: 66px;
  font-weight: 700;

  color: #002752;

  margin-bottom: 20px;
}

.catalogue-cards {
  display: flex;
  gap: 50px;
}

.catalogue-card img {
  width:400px;
  height: 267px;

  object-fit: cover;

  border-radius: 40px;
}

/* FOOTER SECTION*/
.footer {
  position: relative;

  width: 100%;
  min-height: 574px;

  background: #003E93;

  border-radius: 70px 70px 0 0;

  padding: 90px 80px;

  color: #F4F5F7;

  box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25);
}

/* STORE INFO */
.store-info h3 {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 5px;
}

.store-info p {
  font-size: 23px;
  line-height: 1.45;
}

/* GREEN NEWSLETTER BOX */
.newsletter {
  position: absolute;
  top: 70px;
  right: 80px;

  width: 683px;
  height: 196px;

  background: #BFE804;
  border-radius: 45px;

  padding: 30px 48px;

  box-shadow: 0 9px 9px rgba(0, 0, 0, 0.25);
}

.newsletter h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 41px;
  font-weight: 400;
  color: #F4F5F7;

  white-space: nowrap;
  margin-bottom: 10px;
}

/* FORM */
.newsletter-form {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* EMAIL INPUT */
.newsletter-form input {
  width: 327px;
  height: 63px;

  border-radius: 42px;
  border: 2px solid rgba(219, 214, 214, 0.24);
  background: rgba(244, 245, 247, 0.8);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

  padding: 0 26px;

  font-size: 22px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

.newsletter-form input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

/* SUBSCRIBE BUTTON */
.newsletter-form button {
  width: 141px;
  height: 63px;

  border-radius: 42px;
  border: 2px solid rgba(219, 214, 214, 0.24);
  background: #F4F5F7;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);

  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);

  cursor: pointer;
}

/* ICON LOGO */
.footer-logo {
  position: absolute;

  right: 50px;
  bottom: 140px;

  width: 500px;
}

/* ===================== */
/* PRODUCT LIST PAGE */
/* ===================== */


.product-list-page {
  background-color: #F3F5F7;
}

.product-navbar {
  position: relative;
  top: 20px;
  margin: 0 auto;
  left: auto;
  transform: none;
}

.product-main {
  padding: 70px 45px 0;
}

.breadcrumb {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.7);

  margin-bottom: 5px;
}

.all-products-title {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #002752;
}

/* PRODUCT FILTER BOX */

.product-filter-box {
  width: 1044px;
  height: 322px;

  margin: 20px auto 70px;

  background: #003E93;
  border-radius: 45px;

  padding: 38px 79px;

  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
}

.search-bar {
  width: 886px;
  height: 65px;

  border-radius: 184px;
  border: 1.8px solid #F4F5F7;

  background: rgba(217, 217, 217, 0.01);

  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.2),
    2px 2px 3px rgba(255, 255, 255, 0.75) inset,
    0 -7px 5px rgba(255, 255, 255, 0.35) inset,
    -2px -4px 3px rgba(0, 0, 0, 0.2) inset;

  display: flex;
  align-items: center;

  padding: 0 28px;

  margin: 0 auto;
}

.search-bar img {
  width: 27px;
  height: 24px;

  opacity: 0.7;

  margin-right: 14px;
}

.search-bar input {
  flex: 1;

  border: none;
  outline: none;
  background: transparent;

  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;

  color: #F3F5F7;
}

.search-bar input::placeholder {
  color: rgba(243, 245, 247, 0.7);
}

.category-icons {
  display: flex;
  justify-content: center;
  gap: 36px;

  margin-top: 38px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-item img {
  width: 93px;
  height: auto;
}

/* PRODUCTS SECTION */

.products-section {
  width: 1320px;

  margin-left: 50px;
}

.products-topbar {
  width: 1310px;

  margin: 70px auto 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-count {
  color: #000;

  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
}

.sort-by {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #000;

  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
}

.sort-arrow {
  width: 28px;
  height: 28px;
}

/* PRODUCT GRID */

.products-grid {
  width: 1310px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 42px;
}

.product-card img {
  width: 300px;
  height: 360px;

  object-fit: cover;

  border-radius: 27px;
}

.product-card h3 {
  margin-top: 18px;

  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 400;

  color: #000;
}

.product-card span {
  display: block;

  margin-top: 2px;

  font-family: 'Chillax', sans-serif;
  font-size: 21px;
  font-weight: 400;

  color: #000;
}

/* PAGINATION BUTTONS */

/* PAGINATION */

.product-pagination {
  display: flex;
  justify-content: flex-end;

  margin-top: 60px;
  margin-bottom: 80px;

  padding-right: 50px;
}

.page-btn {
  width: 100px;
  height: 52px;

  border: none;

  background: #BFE804;

  color: rgba(255, 255, 255, 0.85);

  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;

  cursor: pointer;
}

/* LEFT BUTTON */
.page-btn.prev {
  border-radius: 10px 0 0 10px;

  border-right: 2px solid rgba(255,255,255,0.25);
}

/* RIGHT BUTTON */
.page-btn.next {
  border-radius: 0 10px 10px 0;
}

/* ===================== */
/* PRODUCT DETAIL PAGE */
/* ===================== */

.product-detail-section {
  padding: 40px 50px;
  background: #F3F5F7;
}

.breadcrumb {
  margin-bottom: 12px;

  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
}

.breadcrumb a {
  color: #000;
  text-decoration: underline;
}

.product-detail-layout {
  display: grid;
  grid-template-columns: 104.459px 850px 300px;
  gap: 18px;
  align-items: start;
}

/* LEFT THUMBNAILS */
.thumbnail-column {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.thumbnail {
  width: 104.459px;
  height: 174.42px;
  object-fit: cover;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.active-thumb {
  border: 2px solid #000;
}

/* MAIN IMAGE AREA */
.main-gallery {
  position: relative;
}

.big-image-row {
  display: flex;
  gap: 0;
}

.big-product-image {
  width: 416.874px;
  height: 696.073px;
  object-fit: cover;
}

/* ARROWS */
.gallery-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;

  background: #000;
  color: #fff;
  font-size: 28px;
  cursor: pointer;

  z-index: 5;
}

.left-arrow {
  left: 12px;
}

.right-arrow {
  right: 12px;
}

/* PRODUCT INFO */
.product-info {
  padding-top: 70px;
}

.product-info h1 {
  color: #003E93;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 5px;
}

.price {
  color: #002752;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 25px;
}

.size-label {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.size-options {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.size-options button {
  border-radius: 5.502px;
  border: 1.678px solid rgba(0, 0, 0, 0.70);

  background: transparent;
  color: #000;

  font-family: Poppins;
  font-size: 20.976px;
  font-weight: 400;

  padding: 4px 15px;
  cursor: pointer;
}

.add-cart-btn,
.checkout-btn {
  width: 320px;
  height: 45px;

  border: none;
  border-radius: 10px;

  box-shadow: 2.051px 5.129px 4.103px 0 rgba(0, 0, 0, 0.25);

  color: #F4F5F7;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;

  cursor: pointer;
  display: block;
}

.add-cart-btn {
  background: #BFE804;
  margin-top: 25px;
  margin-bottom: 12px;
}

.checkout-btn {
  background: #003E93;
}

.product-accordion {
  margin-top: 28px;
  width: 340px;
}

.accordion-item {
  border-bottom: 2.818px solid rgba(0, 0, 0, 0.3);
}

.accordion-header {
  width: 100%;
  padding: 10px 0;

  background: transparent;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;

  cursor: pointer;
}

.accordion-header span {
  color: rgba(0, 39, 82, 0.60);
  font-family: Poppins;
  font-size: 33.268px;
  font-weight: 400;
  line-height: 1;
}

.accordion-content {
  display: none;
  padding-bottom: 12px;
}

.accordion-content p {
  margin: 0;

  color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
}

.related-products-section {
  margin-top: 10px;
  padding: 0 60px 90px;
}

.related-header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 25px;
}

.related-header h2 {
  color: #003E93;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  white-space: nowrap;
}

.line {
  flex: 1;
  height: 2px;
  background: rgba(0, 0, 0, 0.25);
}

.related-products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}

.related-card {
  overflow: hidden;
  cursor: pointer;
}

.related-card img {
  width: 100%;
  height: 440px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.related-card:hover img {
  transform: scale(1.03);
}

.cart-popup {
  display: none;

  position: fixed;
  top: 0;
  right: 0;

  width: 425px;
  height: 100vh;

  background: #F4F5F7;

  z-index: 9999;

  padding: 28px 26px 40px;
  box-sizing: border-box;

  overflow-y: auto;
}

/* CART TITLE */
.cart-popup h2 {
  text-align: center;

  color: #000;
  font-family: Poppins;
  font-size: 22.522px;
  font-weight: 400;

  margin-bottom: 40px;
}

/* CART ITEM */
.cart-item {
  display: flex;
  gap: 22px;

  padding-bottom: 32px;
  margin-bottom: 32px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

/* PRODUCT IMAGE */
.cart-item img {
  width: 161px;
  height: 258.863px;

  object-fit: cover;
}

/* RIGHT SIDE INFO */
.cart-item-info {
  flex: 1;
  padding-top: 38px;
}

/* PRODUCT TITLE */
.cart-item-info h3 {
  color: #000;
  font-family: Poppins;
  font-size: 27.29px;
  font-weight: 700;

  margin: 0 0 26px;
}

/* DETAILS */
.cart-item-info p {
  color: #000;
  font-family: Poppins;
  font-size: 15.992px;
  font-weight: 400;
  line-height: 1.4;

  margin-bottom: 28px;
}

/* EDIT + PRICE */
.cart-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-bottom a,
.cart-item-bottom span {
  color: #000;
  font-family: Poppins;
  font-size: 15.992px;
  font-weight: 400;
}

.cart-item-bottom a {
  text-decoration: underline;
}

/* SUBTOTAL */
.cart-summary {
  margin-top: 10px;
}

.subtotal-row {
  display: flex;
  justify-content: space-between;

  border-top: 2px solid rgba(0, 0, 0, 0.25);

  padding-top: 14px;
  margin-bottom: 18px;

  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
}

/* BUTTONS */
.cart-buttons {
  display: flex;
  gap: 10px;
}

.view-cart-btn,
.cart-checkout-btn {
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  color: #F4F5F7;
  text-decoration: none;

  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;

  box-shadow: 2.051px 5.129px 4.103px 0 rgba(0, 0, 0, 0.25);
}

.view-cart-btn {
  width: 43%;
  background: #BFE804;
}

.cart-checkout-btn {
  width: 57%;
  background: #003E93;
}